/* Login and Register Page CSS */
.p-login-register {
  font-size: 13px;
}

.Logout_NewTask_Nav {
  display: grid;
  align-items: center;
  grid-template-columns: auto auto auto;
}

.addTaskButton {
  right: 0px;
}

.login-body {
  background-image: url("../images/264-2648820_wood-wallpapers-hd-desktop-download-high-resolution-wooden.jpg");
  /* background-color: coral; */
  padding-top: 25vh;
  min-height: 100vh;
}

form {
  background-color: white;
}

.form-container {
  border-radius: 10px;
  padding: 30px;
  box-shadow: 0px 0px 10px 0px;
}

button:disabled {
  cursor: not-allowed;
}
