.fa-sign-out-alt {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 1.5rem;
  cursor: pointer;
}

.Task-Item {
  background-color: burlywood;
  height: 50px;
  margin: 20px auto;
  width: 300px;
  font-size: 14px;
  display: grid;
  grid-template-columns: auto auto auto;
  border-radius: 5px;
}

.Task-Item p {
  padding: 13px;
  margin-left: 10px;
}

.Icons {
  cursor: pointer;
  margin: 15px;
  margin-left: 10px;
}

.addTaskComponent {
  display: grid;
  grid-template-columns: auto auto auto;
}

.navbar {
  border-radius: 10px;
}

body {
  background-color: rgb(61, 56, 47);
}

.App {
  background-color: black;
  min-height: 500px;
  width: 400px;
  margin: 66px auto;
  border-radius: 10px;
}

.todo-form {
  background-color: black;
  border-radius: 10px;
  margin: 10px 25px;
}

.todo-form input {
  background-color: black;
  color: white;
  border: 0px;
  width: 200px;
  height: 50px;
  padding: 0px 20px;
  margin: 20px;
  border-radius: 10px;
  font-size: 18px;
  border: 1px solid white;
}

.todo-form input:focus,
.todo-form button:focus {
  outline: none;
}

.todo-form button {
  height: 50px;
  width: 80px;
  border-radius: 10px;
  border: 0px;
  background-color: rgb(74, 74, 189);
  cursor: pointer;
  color: white;
}

.navbar {
  margin: 10px 10px;
  background-color: rgba(0, 0, 0, 0.8);
  color: aqua;
  position: static;
}
h2 {
  padding-top: 10px;
}
.logout {
  cursor: pointer;
  margin-top: 13px;
}
